.number {
  color: #2bce98;
  transition: all 0.25s ease-in-out;
  text-shadow: 0px 0px 0px #2bce98, 0px 0px 0px #2bce98;
}

.number::before {
  content: "";
  display: block;
  margin-top: -2.3rem;
}

.number::after {
  content: "";
  display: block;
  margin-bottom: -1.55rem;
}

.number.animated {
  filter: blur(2px);
  text-shadow: 10px 0px 5px #2bce98, -10px 0px 5px #2bce98;
}
.number.animated::after {
  animation: slow-blink 0.05s infinite;
}

@keyframes slow-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
