.number {
  color: #2bce98;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* font-size: 20vh; */
  transition: all 0.25s ease-in-out;
  text-shadow: 0px 0px 0px #2bce98, 0px 0px 0px #2bce98;
}

.number::before {
  content: "";
  display: block;
  margin-top: -2.3rem;
}

.number::after {
  content: "";
  display: block;
  margin-bottom: -1.55rem;
}

/* .number::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  /* background: linear-gradient(
    to top,
    transparent 10%,
    #ffffff 10%,
    transparent 20%,
    #ffffff 20%,
    transparent 30%,
    #ffffff 30%,
    transparent 40%,
    #ffffff 40%,
    transparent 50%,
    #ffffff 50%,
    transparent 60%,
    #ffffff 60%,
    transparent 70%,
    #ffffff 70%,
    transparent 80%,
    #ffffff 80%,
    transparent 90%,
    #ffffff 90%,
    transparent 100%
  ); */
/* } */
.number.animated {
  filter: blur(2px);
  text-shadow: 10px 0px 5px #2bce98, -10px 0px 5px #2bce98;
}
.number.animated::after {
  animation: slow-blink 0.05s infinite;
}

@keyframes slow-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
